/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body{
  min-height: 100%;
  font-family: 'Josefin Slab', sans-serif;
  background: #E5E5E5;
}
